body {
	font-family: arial;
}

body h1 {
	font-size: 44px;
}

body h2 {
	font-size: 30px;
	font-weight: 700;
}

body h3 {
	font-size: 20px;
	font-weight: 500;
}

.container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.my_header {
	/*overflow: hidden;*/
	margin: 60px 0 60px 0;
}

.clearfix {
    clear: both;
}

.name {
	font-weight: bold;
	float: left;
	margin-top: 0px;
}

.contact-info {
	float: right;
    margin-top: 5px;
    line-height: 1.6em;
}

.location, .date {
	float: right;
	position: relative;
}

.location {
	top: -30px;
}
	
.date {
	top: -25px;
}

.position, .degree {
	font-style: italic;
}

.school, .company {
	margin-bottom: 5px;
}

.description {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/* http://stackoverflow.com/a/12216973/1435804 */
.description li {
	padding-left: 2.7em;
	text-indent: -2.7em;
}

.description li:Before {
	content: "tl;dr: ";
	font-weight: bold;
}

ul {
	margin-left: 15px;
}

.experience-entry {
	margin-bottom: 50px;
}

li:empty {
    list-style: none;
    margin-top: 18px;
}

hr {
    margin-top: 8px;
}

.tag {
    padding: 0px 3px;
    border-radius: 3px;
    /*background-color: darkgray;*/
    border: 1px solid darkgray;

}

@media print {

    body {
        font-size: 12px;
    }

    body h1 {
        font-size: 36px;
    }

    body h2 {
        font-size: 20px;
        font-weight: 700;
    }

    body h3 {
        font-size: 16px;
    }

    .my_header {
        margin: 20px 0 40px 0;
    }

    .contact-info {
        font-size: 12px;
    }

}