.ui-autocomplete {
    z-index: 1100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#map-canvas {
    height: 768px;
}
.movie-info {
    font-weight: bold;
    color: dimgray;
}
#results-page {
    display: none;
}
.carousel-movie-picture {
    background-size: cover;
    background-color: black;
    background-position: center center;
}
#the-rock {
    background-image: url("../static/the_rock.jpg");
}
#bullitt {
    background-image: url("../static/bullitt.jpg");
}
#parks-and-rec {
    background-image: url("../static/parks_and_rec.jpg");
}